<!-- views/pages/game.ejs -->
<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <script>
    var gameId = '<%- gameid %>';
    var user = <% if (typeof user !== "undefined" && user) { %><%- '"' + String(user.local.username) + '"'%><% } %>;
    var userid = '<%-user._id%>';
    var userHand = [<%-JSON.stringify(user.local.hand)%>];
    var gameDeck = {};
    var gameJSON = <%-JSON.stringify(gamedeck)%>;
    for (var attr in gameJSON) {
      gameDeck[attr] = gameJSON[attr];
    }
  </script>
  <script src="/js/game/game.js"></script>
  <script>
  var socket = io();
  document.addEventListener('DOMContentLoaded', function() {
    <%if (typeof user !== "undefined" && user) { %>socket.emit('send user', '<%-user._id%>');<%} %>
    document.forms['private-lobby-form'].addEventListener('submit', function(e) {
      e.preventDefault();
      var timestamp = new Date().getTime();
      var msg = [timestamp , '[' + user + '] ' + document.getElementById('private-lobby-txt').value];
      socket.emit('game message', msg, gameId);
      document.getElementById('private-lobby-txt').value = '';
      return false;
    });
  });
  </script>
  <link rel="stylesheet" href="/css/game.css">
</head>
<body>
<div class="uk-container uk-container-center uk-margin-large-bottom">
  <header>
    <% include ../partials/header %>
  </header>
  <main ng-app="cardStore" ng-controller="CardController as cards" ng-init="dtitle='';dcost='';dbody='';dcolor=''">
    <div class="uk-grid uk-grid-collapse">
      <div class="uk-width-1-5">
        <div class="uk-panel uk-panel-space" style="height:200px;">
          <div class="uk-panel-header"><h4 class="uk-panel-title"><i class="uk-icon-trophy"></i> Victory</h4></div>
          <ul>
            <li ng-repeat="card in cards.victory | orderBy:'-cost'">
              <table>
                <tr>
                  <td width="25px" style="text-align: right;">({{card.count}})</td>
                  <td><button class='victory' ng-mouseover="$parent.dtitle=card.name;$parent.dcost='$'+card.cost;$parent.dbody='';$parent.dcolor=card.color;$parent.visible=true" ng-mouseleave="$parent.visible=false;$parent.dtitle='';$parent.dbody='';$parent.dcost='';$parent.dcolor=''">{{card.name}}</button></td>
                  <td>${{card.cost}}</td>
                </tr>
              </table>
            </li>
            <li ng-repeat="card in cards.curse | orderBy:'-cost'">
              <table>
                <tr>
                  <td width="25px" style="text-align: right;">({{card.count}})</td>
                  <td><button class='curse' ng-mouseover="$parent.dtitle=card.name;$parent.dcost='$'+card.cost;$parent.dbody=card.text;$parent.dcolor=card.color;$parent.visible=true" ng-mouseleave="$parent.visible=false;$parent.dtitle='';$parent.dbody='';$parent.dcost='';$parent.dcolor=''">{{card.name}}</button></td>
                  <td>${{card.cost}}</td>
                </tr>
              </table>
            </li>
          </ul>
        </div>
      </div>
      <div class="uk-width-1-5">
        <div class="uk-panel uk-panel-space" style="height:200px;">
          <div class="uk-panel-header"><h4 class="uk-panel-title"><i class="uk-icon-money"></i> Treasure</h4></div>
          <ul>
            <li ng-repeat="card in cards.treasure | orderBy:'-cost'">
              <table>
                <tr>
                  <td width="25px" style="text-align: right;">({{card.count}})</td>
                  <td><button class='treasure' ng-mouseover="$parent.dtitle=card.name;$parent.dcost='$'+card.cost;$parent.dbody=card.text;$parent.dcolor=card.color;$parent.visible=true" ng-mouseleave="$parent.visible=false;$parent.dtitle='';$parent.dbody='';$parent.dcost='';$parent.dcolor=''">{{card.name}}</button></td>
                  <td>${{card.cost}}</td>
                </tr>
              </table>
            </li>
          </ul>
        </div>
      </div>
      <div class="uk-width-2-5">
        <div class="uk-panel uk-panel-space" style="height:200px;">
          <div class="uk-panel-header"><h4 class="uk-panel-title"><i class="uk-icon-shield"></i> Kingdom</h4></div>
            <div class='kingdom'>
              <ul>
                  <li ng-repeat="card in cards.kingdom | orderBy: '-cost' | slice:0:5">
                    <table>
                      <tr>
                        <td width="25px" style="text-align: right;">({{card.count}})</td>
                        <td><button class='kingdom' ng-mouseover="$parent.dtitle=card.name;$parent.dcost='$'+card.cost;$parent.dbody=card.text;$parent.dcolor=card.color;$parent.visible=true" ng-mouseleave="$parent.visible=false;$parent.dtitle='';$parent.dbody='';$parent.dcost='';$parent.dcolor=''" style="background-color:{{card.color}};">{{card.name}}</button></td>
                        <td>${{card.cost}}</td>
                      </tr>
                    </table>
                  </li>
              </ul>
          </div>
          <div class='kingdom'>
              <ul>
                <li ng-repeat="card in cards.kingdom | orderBy: '-cost' | slice:5:10">
                  <table>
                    <tr>
                      <td width="25px" style="text-align: right;">({{card.count}})</td>
                      <td><button class='kingdom' ng-mouseover="$parent.dtitle=card.name;$parent.dcost='$'+card.cost;$parent.dbody=card.text;$parent.dcolor=card.color;$parent.visible=true" ng-mouseleave="$parent.visible=false;$parent.dtitle='';$parent.dbody='';$parent.dcost='';$parent.dcolor=''" style="background-color:{{card.color}};">{{card.name}}</button></td>
                      <td>${{card.cost}}</td>
                    </tr>
                  </table>
                </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="uk-width-1-5">
        <div class="uk-panel uk-panel-box uk-panel-box-secondary display-card" ng-init="visible=false" ng-show="visible" style="background-color: {{dcolor}}">
          <div class="uk-width-1-1 uk-panel uk-panel-box uk-panel-box-secondary display-title">
            <div style="float:left">{{dtitle}}</div>
            <div style="float:right">{{dcost}}</div>
          </div>
          <div class="uk-width-1-1 uk-panel uk-panel-box uk-panel-box-secondary display-body">
            <p>{{dbody}}</p>
          </div>
        </div>
      </div>
      <div class="uk-width-3-5">
        <div class="uk-panel uk-panel-space" style="height:300px;">
          <div class="uk-panel-header"><h4 class="uk-panel-title"><i class="uk-icon-photo"></i> Play Area</h4></div>
        </div>
      </div>
      <div class="uk-width-1-5">
        <div class="uk-panel uk-panel-space" style="height:300px;">
          <div class="uk-panel-header"><h4 class="uk-panel-title"><i class="uk-icon-th-large"></i> Cards</h4></div>
          <div class='deck'>Deck: <span style="letter-spacing:-2px;">∣∣∣∣</span></div>
          <div class='discard'>Discard: <span style="letter-spacing:-2px;">∣∣∣∣∣∣∣∣</span></div>
          <div class='hand'>
            <ul>
              <lh>Hand</lh>
              <li class='hand' ng-repeat="card in cards.hand"><button class="{{card.type[0]}} hand" ng-mouseover="$parent.dtitle=card.name;$parent.dcost='$'+card.cost;$parent.dbody=card.text;$parent.dcolor=card.color;$parent.visible=true" ng-mouseleave="$parent.visible=false;$parent.dtitle='';$parent.dbody='';$parent.dcost='';$parent.dcolor=''" style="background-color:{{card.color}};">{{card.name}}</button></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="uk-width-1-5">
        <div class="uk-panel uk-panel-space" style="height:300px;">
          <div class="uk-panel-header"><h4 class="uk-panel-title"><i class="uk-icon-gamepad"></i> Controls</h4></div>
        </div>
      </div>
      <div class="uk-width-3-6">
        <div class="uk-panel uk-panel-space">
          <h4 class="uk-panel-title"><i class="uk-icon-comments-o"></i> Private Lobby</h4>
          <div id="private-lobby" class="uk-panel uk-width-1-1 uk-panel-box uk-panel-box-secondary" style="height:150px; overflow: auto;">
            <ul class="uk-list">
            
            </ul>
          </div>
          <form class="uk-form" id="private-lobby-form" action="">
            <fieldset data-uk-margin>
              <div class="uk-form-row uk-panel-box-secondary">
                <input id="private-lobby-txt" type="text" placeholder="Start typing..." class="uk-width-2-3 uk-form-blank" autocomplete="off" <%if (typeof user !== "undefined" && user) { } else { %>disabled<% } %>>
                <button class="uk-button uk-button-primary" style="float:right;" <%if (typeof user !== "undefined" && user) { } else { %>disabled<% } %>><i class="uk-icon-share"></i> Send</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="uk-width-3-6">
        <div class="uk-panel uk-panel-space" style="height:175px;">
          <h4 class="uk-panel-title"><i class="uk-icon-history"></i> History</h4>
          <div id="private-history" class="uk-panel uk-width-1-1 uk-panel-box uk-panel-box-secondary" style="height:150px; overflow: auto;">

          </div>
          <button onclick="javaScript:void(0);" class="uk-button uk-button-danger" style="float:right;"><i class="uk-icon-exclamation"></i> Quit</button>
          <button onclick="javaScript:void(0);" class="uk-button uk-button-danger" style="float:right;margin-right:5px;"><i class="uk-icon-user-times"></i> Kick</button>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
</html>